src/main/mule/implementation/post-jobsets.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	
	<flow name="post:\jobsets:application\json:cron-sapi-config">
        <logger level="INFO" message="post:\jobsets:application\json:cron-sapi-config" doc:name="start job set"/>
		<ee:transform doc:name="Transform Message" doc:id="b580d231-9e13-4b3a-8673-34cec490af87" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="jobset" ><![CDATA[%dw 2.0
output application/json
---
{
	"name": payload.name,
	"description": payload.description	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:stored-procedure doc:name="Stored procedure" doc:id="a39ecd58-5fb6-40cc-b2b7-de59836ec7cb" config-ref="CloudOracleDb">
			<db:sql ><![CDATA[{CALL insert_job_set(:name, :description, :output_id)}]]></db:sql>
			<db:input-parameters ><![CDATA[#[vars.jobset]]]></db:input-parameters>
			<db:output-parameters >
				<db:output-parameter key="output_id" type="NUMERIC" />
			</db:output-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Transform Message" doc:id="2e908de7-1eb4-4acd-92d6-fbcad2b5f04c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "id": payload[0]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End register" doc:id="cbfad31d-8400-4cf1-9c13-300960b9bad3" />
    </flow>
	
	</mule>
