src/main/mule/implementation/put-job-job_id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	
	<flow name="put:\job\(job_id):application\json:cron-sapi-config">
        <logger level="INFO" message="put:\job\(job_id):application\json:cron-sapi-config" doc:name="Start update job with id"/>
		<ee:transform doc:name="Transform Message" doc:id="238940e4-257d-49bb-ae1d-04e1a1afcda7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="job_update" ><![CDATA[%dw 2.0
output application/json
var isActive = if (payload.is_active) 1 else 0
---
{
	"schedule": payload.schedule,
	"is_active": isActive,
	"job_id": attributes.uriParams.job_id
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:update doc:name="Update" doc:id="d2ff94a7-6f55-475a-ba14-0161f5e77113" config-ref="CloudOracleDb">
			<db:sql ><![CDATA[UPDATE jobs j
SET j.schedule = :schedule, j.isActive = :is_active
WHERE j.id = :job_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[vars.job_update]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="dfeae7e0-9abc-45bc-a01a-921f98eb37ba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if (payload.affectedRows > 0) {
	id: vars.job_update.job_id
}else{}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End update job with id" doc:id="728fe5a4-7d34-4264-aeb8-8d480c46cb38" />
    </flow>
	
	</mule>
